/* 
   Initially Written in 2019 by Nono Martínez Alonso
   Customized in 2023 by zaphbbrox

   To the extent possible under law, the author(s) have dedicated all 
   copyright and related and neighboring rights to this software to the 
   public domain worldwide. This software is distributed without any 
   warranty.

   You should have received a copy of the CC0 Public Domain Dedication 
   along with this software. If not, see 
   http://creativecommons.org/publicdomain/zero/1.0
*/


@font-face {
  font-family: 'Iosevka';
  src:  url('userfonts/iosevka-medium.woff2') format('woff2')
}

@font-face {
    font-family: 'Oswald';
    src: url('userfonts/Oswald-Medium.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

.h-entry {
    border: 1px solid rgba(0,0,0,.07);
    padding: 1.75em 1em;
}

#blog-title {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: red;
    text-align: center;
}

header nav a {
    font-family: 'Iosevka', monospace;
    font-size: 1.5em;
    color: #c4c4c4;
}

p.description.p-note {
    font-family: 'Iosevka', monospace;
    font-size: 1.5em;
    color: red;
}

body {
    background-color: black;
}

body#collection article { 
    padding: 1.75em 1em;
    max-width: 800px;
    background-color: #e6e6e6;
}

body#collection article p {
    font-family: 'Iosevka', monospace;
}

#wrapper h2+time {
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
}

body#collection #wrapper time {
    font-size: 14px;
    color: #7b7b7b;
    font-family: 'Libre Franklin', serif;
    font-weight: 600;
}

body#post article h2#title {
font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #444;
    font-size: 2.5em;
    text-align: center;
    text-decoration: underline;
}

article#post-body {
    background-color: #e6e6e6;
}

a.u-url {
    font-family: 'Oswald', sans-serif;
    color: red;
}

a.user.hidden.action {
    font-family: 'Iosevka', monospace;
}

li {
    font-family: 'Iosevka', monospace;
}

h2.post-title {
    text-align: center;
    text-transform: uppercase;
}

#post article p {
    font-family: Iosevka;
}

#post article.norm {
    line-height: 24px;
    font-size: 1.3em;
    max-width: 800px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Iosevka', monospace;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body#collection article .book h1 {
    font-size: 1.75em;
}

body#post header {
    text-align: center;
}

body#post header h1 {
    font-size: 2.75em;
    color: red;
}

p a {
    color: #ee464c;
    text-decoration: underline;
}

li a {
    color: #ee464c;
    text-decoration: underline;
}

a.h-card {
    color: red;
}

body#post header, body#subpage header {
-webkit-opacity: 1;
opacity: 1;
}

table {
    font-family: 'Iosevka', monospace;
}

.footnote {
    text-decoration: underline;
    color: red;
}

.footnote:hover {
    color: black;
}

.footnote-ref {
    text-decoration: underline;
    font-size: 12px;
    color: red;
}

.footnote-ref:hover {
    color: black;
}

.footnote-ref-text {
    font-size: 12px;
}